/* Container */
#my-menu-container {
    position: fixed;
    background-color: var(--corFundo);
    box-shadow: var(--corSombra);
    width: 100%;
    z-index: 100;
    top: 0;
}



/* Logo */
#my-menu-logo {
    color: var(--corPrimaria);
    font-size: 30px;
    font-weight: 500;
    text-decoration: none;
    user-select: none;
}



/* Ícone Tema */
#my-menu-togglerIcon {
    color: var(--corPrimaria);
    font-size: 20px;
}



/* Links */
#my-menu-navegacao a {
    color: var(--corPrimaria);
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    user-select: none;
    transition: color 0.3s ease-in-out;
}

#my-menu-navegacao a:hover {
    color: var(--corDestaque);
}

#my-menu-navegacao li {
    transition: transform 0.3s ease-in-out;
}

#my-menu-navegacao li:hover {
    transform: translateY(-3px);
}

#my-menu-navegacao li i {
    color: var(--corPrimaria);
    font-size: 16px;
    cursor: pointer;
    user-select: none;
    padding: 7px;
}

#my-menu-navegacao li i:hover {
    background-color: var(--corSecundaria);
    border-radius: 20px;
}



/* Responsividade Navegação*/
@media (max-width: 992px) {
    #my-menu-navegacao a,
    #my-menu-navegacao li i {
        font-size: 20px;
    }
}