/* Título Certificados */
.my-certificados-titulo::after {
    position: absolute;
    display: block;
    background-color: var(--corDestaque);
    content: "";
    border-radius: 20px;
    width: 30px;
    height: 3px;
    margin: 2px 0px;
    left: 0;
}

.my-certificados-cardContainer {
    background-color: var(--corFundo) !important;
    color: var(--corPrimaria) !important;
    box-shadow: var(--corSombra);
    border: none !important;
    height: 100% !important;
    transition: transform 0.3s;
}



/* Modal Container */
.my-certificados-modalContainer {
    background-color: var(--corFundo) !important;
    box-shadow: var(--corSombra) !important;
}

.my-certificados-modalContainer .modal-header .modal-title {
    color: var(--corPrimaria) !important;
}

.my-certificados-modalContainer .modal-header {
    border-bottom: 1px solid var(--corCinza);
}

.my-certificados-modalContainer .modal-header button i {
    color: var(--corCinza);
    font-size: 20px;
}

.my-certificados-modalContainer .modal-body div h6 {
    color: var(--corPrimaria) !important;
}



/* Modal Body */
.modal-body img {
    border: 1.5px solid var(--corSecundaria) !important;
    border-radius: 5px;
    width: 500px;
}

.modal-body div p {
    color: var(--corCinza);
    font-size: 12px;
}



/* Título */
.my-certificados-titulo {
    color: var(--corPrimaria);
    display: inline-block;
    position: relative;
}



/* Card Container */
.my-certificados-cardContainer:hover {
    transform: translateY(-3px);
}



/* Imagem */
.my-certificados-cardBody img {
    border-radius: 5px;
}



/* Texto */
.my-certificados-cardBody #my-certificados-cardTexto1 {
    color: var(--corPrimaria);
    font-size: 16px;
    font-weight: 500;
}

.my-certificados-cardBody #my-certificados-cardTexto2 {
    color: var(--corCinza);
    font-size: 14px;
    font-weight: 500;
}

.my-certificados-cardBody #my-certificados-cardTexto3 {
    color: var(--corCinza);
    font-size: 14px;
}



/* Card Footer */
.my-certificados-cardFooter {
    background-color: var(--corFundo) !important;
    border-top: 2px solid var(--corSecundaria) !important;
}

.my-certificados-cardFooter a i {
    color: var(--corDestaque);
    font-size: 20px;
}

.my-certificados-cardFooter a i:hover {
    transform: scale(1.1);
}

.my-certificados-cardFooter a {
    color: var(--corDestaque);
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
}

.my-certificados-cardFooter a:hover {
    text-decoration: underline;
}



/* Responsividade Modal Body */
@media (max-width: 990px) {
    .modal-body {
        flex-direction: column;
    }

    .modal-body img {
        max-width: 100% !important;
        border: 0.1px solid black;
    }

    .modal-body div h6 {
        margin-top: 30px;
    }
}



/* Responsividade Card Body */
@media (max-width: 700px) {
    .my-certificados-cardContainer .my-certificados-cardBody {
        align-items: start !important;
    }

    .my-certificados-cardBody img {
        height: 60px;
    }
}