/* Título Contato */
.my-contato-titulo {
    position: relative;
    display: inline-block;
    color: var(--corPrimaria);
}

.my-contato-titulo::after {
    position: absolute;
    display: block;
    background-color: var(--corDestaque);
    content: "";
    border-radius: 20px;
    width: 30px;
    height: 3px;
    margin: 2px 0px;
    left: 0;
}



/* Formulário */
.my-contato-formulario {
    background-color: var(--corFundo);
    box-shadow: var(--corSombra);
    border-radius: 10px;
    padding: 20px;
    max-height: 360px;
}

.my-contato-formulario div span {
    display: inline-block;
    text-align: center;
    width: 40px;
}

.my-contato-formulario div span,
.my-contato-formulario div span i {
    background-color: var(--corSecundaria);
    color: var(--corPrimaria);
}

.my-contato-formulario div span,
.my-contato-formulario div input,
.my-contato-formulario div textarea {
    border: 1px solid var(--corCinza);
}

.my-contato-formulario div input,
.my-contato-formulario div textarea {
    background-color: var(--corFundo);
    color: var(--corCinza);
}

.my-contato-formulario input:focus,
.my-contato-formulario textarea:focus {
    background-color: var(--corFundo);
    color: var(--corCinza);
    border: 1px solid var(--corPrimaria);
    outline: none;
}

.my-contato-formulario input::placeholder,
.my-contato-formulario textarea::placeholder {
    color: var(--corCinza);
}

.my-contato-formulario input:-webkit-autofill {
    background-color: var(--corFundo) !important;
    color: var(--corCinza) !important;
    box-shadow: 0 0 0px 1000px var(--corFundo) inset;
}

.my-contato-formulario input:-webkit-autofill::first-line {
    color: var(--corCinza) !important;
}

.my-contato-formulario button {
    width: 100%;
    background-color: var(--corDestaque);
    color: var(--corSecundaria);
    box-shadow: var(--corSombra);
    font-weight: 500;
    border-radius: 5px;
    padding: 3px;
}

.my-contato-formulario button:hover {
    opacity: 90%;
}



/* Animação Loading */
.my-contato-loading-overlay {
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: var(--corFundo);
    opacity: 90%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.my-contato-loading-overlay.active {
    display: flex;
}

.my-contato-spinner {
    border: 8px solid var(--corSecundaria);
    border-top: 8px solid var(--corDestaque);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spinContato 1s linear infinite;
}

@keyframes spinContato {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}



/* Informações */
.my-contato-informacoes {
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: var(--corFundo);
    box-shadow: var(--corSombra);
    border-radius: 10px;
    padding: 20px;
    min-height: 360px
}

.my-contato-informacoes a {
    color: var(--corCinza);
    text-decoration: none;
    font-size: 16px;
    transition: transform 0.3s;
}

.my-contato-informacoes a:hover {
    transform: translateY(-3px);
}

.my-contato-informacoes a img {
    height: 30px;
    margin-right: 5px;
}

.my-contato-informacoes a[href="#"] img[alt="Localização"],
.my-contato-informacoes a[href="#"] img[alt="Email"] {
    pointer-events: none;
}

.my-contato-informacoes a[href="#"]:hover {
    cursor: default;
}



/* Responsividade Formulário e Informações */
@media (max-width: 992px) {
    .my-contato-formulario {
        margin-bottom: 48px
    }

    .my-contato-informacoes {
        min-height: auto
    }
}