/* Título */
.my-s1Habilidades-titulo {
    color: var(--corPrimaria);
    display: inline-block;
    position: relative;
}

.my-s1Habilidades-titulo::after {
    position: absolute;
    display: block;
    background-color: var(--corDestaque);
    content: "";
    border-radius: 20px;
    width: 30px;
    height: 3px;
    margin: 2px 0px;
    left: 0;
}

/* Card */
.my-s1Habilidades-cardContainer {
    background-color: var(--corFundo) !important;
    color: var(--corPrimaria) !important;
    box-shadow: var(--corSombra);
    border: none !important;
    height: 100% !important;
    text-align: center;
    transition: transform 0.3s;
}

.my-s1Habilidades-cardContainer:hover {
    transform: translateY(-3px);
}

.my-s1Habilidades-cardContainer img {
    margin: 5px;
}