.my-s1Projetos-modalContainer  {
    background-color: var(--corFundo) !important;
    box-shadow: var(--corSombra) !important;
}

.my-s1Projetos-modalContainer  .modal-header .modal-title {
    color: var(--corPrimaria) !important;
}

.my-s1Projetos-modalContainer  .modal-header {
    border-bottom: 1px solid var(--corCinza);
}


.my-s1Projetos-modalContainer  .modal-header button i {
    color: var(--corCinza);
    font-size: 20px;
}

.my-s1Projetos-modalContainer  .modal-body div h6 {
    color: var(--corPrimaria) !important;
}

.modal-body img {
    border: 1.5px solid var(--corSecundaria) !important;
    border-radius: 5px;
}

.modal-body div p {
    color: var(--corCinza);
    font-size: 12px;
}

.my-s1Projetos-titulo {
    color: var(--corPrimaria);
    display: inline-block;
    position: relative;
}

.my-s1Projetos-titulo::after {
    position: absolute;
    display: block;
    background-color: var(--corDestaque);
    content: "";
    border-radius: 20px;
    width: 30px;
    height: 3px;
    margin: 2px 0px;
    left: 0;
}

.my-s1Projetos-cardContainer {
    background-color: var(--corFundo) !important;
    color: var(--corPrimaria) !important;
    box-shadow: var(--corSombra);
    border: none !important;
    height: 100% !important;
    transition: transform 0.3s;
}

.my-s1Projetos-cardContainer:hover {
    transform: translateY(-3px);
}

.my-s1Projetos-cardImg {
    text-align: center;
}

.my-s1Projetos-cardNome {
    color: var(--corPrimaria);
    font-weight: 600;
}

.my-s1Projetos-cardData {
    color: var(--corCinza);
    font-size: 14px;

}

.my-s1Projetos-cardIntituicao img {
    border-radius: 5px;
    width: 24px;
    height: 24px;
}

.my-s1Projetos-cardIntituicao,
.my-s1Projetos-cardDescricao {
    color: var(--corCinza);
    font-size: 14px;
}


.my-s1Projetos-cardTecnologias span {
    color: var(--corPrimaria);
    background-color: var(--corSecundaria);
    border-radius: 10px;
    font-size: 10px;
    padding: 5px;
    margin-right: 15px;
}

@media (max-width: 1200px) {
    .my-s1Projetos-cardTecnologias span{
        display: inline-block;
        margin-top: 10px;
    }
}

.my-s1Projetos-cardContribuidores img {
    border-radius: 100%;
    height: 40px;
    text-decoration: none;
}

.my-s1Projetos-cardContribuidores img:hover {
    transform: scale(1.05);
}

.my-s1Projetos-cardFooter {
    background-color: var(--corFundo) !important;
    border-top: 2px solid var(--corSecundaria) !important;
}

.my-s1Projetos-cardProgresso{
    font-size: 12px;
}

.my-s1Projetos-cardProgresso i{
    color: var(--corDestaque);
    font-size: 12px;
}

.my-s1Projetos-cardContribuidores a {
    text-decoration: none;
}

.my-s1Projetos-cardFooter div a i{
    color: var(--corDestaque);
    font-size: 24px !important;
}

.my-s1Projetos-cardFooter div a i:hover {
    transform: scale(1.1) !important;
}

