/* Título Projetos */
.my-projetos-titulo {
    position: relative;
    display: inline-block;
    color: var(--corPrimaria);
}

.my-projetos-titulo::after {
    position: absolute;
    display: block;
    background-color: var(--corDestaque);
    content: "";
    border-radius: 20px;
    width: 30px;
    height: 3px;
    margin: 2px 0px;
    left: 0;
}



/* Card Container */
.my-projetos-cardContainer {
    background-color: var(--corFundo) !important;
    color: var(--corPrimaria) !important;
    box-shadow: var(--corSombra);
    border: none !important;
    height: 100% !important;
    transition: transform 0.3s;
}

.my-projetos-cardContainer:hover {
    transform: translateY(-3px);
}



/* Card Imagem */
.my-projetos-cardImg {
    text-align: center;
}



/* Card Nome */
.my-projetos-cardNome {
    color: var(--corPrimaria);
    font-weight: 600;
}



/* Card Data */
.my-projetos-cardData {
    color: var(--corCinza);
    font-size: 14px;

}



/* Card Instituicao e Descrição*/
.my-projetos-cardInstituicao img {
    border-radius: 5px;
    width: 24px;
    height: 24px;
}

.my-projetos-cardInstituicao,
.my-projetos-cardDescricao {
    color: var(--corCinza);
    font-size: 14px;
}



/* Card Tecnologias */
.my-projetos-cardTecnologias span {
    background-color: var(--corSecundaria);
    color: var(--corPrimaria);
    border-radius: 10px;
    font-size: 10px;
    padding: 5px;
    margin-right: 15px;
}



/* Card Contribuidores */
.my-projetos-cardContribuidores img {
    border-radius: 100%;
    height: 40px;
    text-decoration: none;
}

.my-projetos-cardContribuidores img:hover {
    transform: scale(1.05);
}

.my-projetos-cardContribuidores a {
    text-decoration: none;
}



/* Card Footer */
.my-projetos-cardFooter {
    background-color: var(--corFundo) !important;
    border-top: 2px solid var(--corSecundaria) !important;
}

.my-projetos-cardFooter div a i {
    color: var(--corDestaque);
    font-size: 24px !important;
}

.my-projetos-cardFooter div a i:hover {
    transform: scale(1.1) !important;
}



/* Card Progresso */
.my-projetos-cardProgresso {
    font-size: 12px;
}

.my-projetos-cardProgresso i {
    color: var(--corDestaque);
    font-size: 12px;
}



/* Responsividade Card Tecnologias */
@media (max-width: 1200px) {
    .my-projetos-cardTecnologias span {
        display: inline-block;
        margin-top: 10px;
    }
}